<aside>

  <details class="box" open>
    <summary>Analytics</summary>
    <article class="visits">

      <aside>
        <span>250</span>
        <span>150</span>
        <span>50</span>
      </aside>

      <section>
        <span style="height: 140px" data-date="20 May '15"></span>
        <span style="height: 70px" data-date="20 May '15"></span>
        <span style="height: 76px" data-date="20 May '15"></span>
        <span style="height: 190px" data-date="20 May '15"></span>
        <span style="height: 30px" data-date="20 May '15"></span>
        <span style="height: 200px" data-date="20 May '15"></span>
        <span style="height: 70px" data-date="20 May '15"></span>
      </section>

    </article>
  </details>

  <details class="box" open>
    <summary>Analytics</summary>
    <article class="empty">
      <p>Sadly, this site haven't had any visitors yet.</p>
    </article>
  </details>

</aside>

<aside>

  <details class="box" open>
    <summary>Recently updated</summary>

    {{#if model}}
      <table class="updated">
        {{#each model as |page|}}
          <tr>
            <td>
              {{#link-to (concat routeName 'pages.edit') page}}
                {{page.title}}
              {{/link-to}}
            </td>

            <td>{{page.lastUpdated}}</td>
          </tr>
        {{/each}}
      </table>
    {{else}}
      <article class="empty">
        <p>You haven't edited any pages until this point.</p>
      </article>
    {{/if}}
  </details>

</aside>
