<form {{action "authenticate" on="submit"}} class={{loginStatus}}>
  {{input placeholder="Username" autocomplete="off" value=username autofocus="true" autocapitalize="none"}}
  {{input placeholder="Password" autocomplete="off" value=password type="password" }}

  <button type="submit">Login</button>
</form>

{{#link-to "reset-password"}}?{{/link-to}}
