<form {{action "resetPassword" on="submit"}} class={{loginStatus}}>
  {{input placeholder="Username" autocomplete="off" value=username autofocus="true" autocapitalize="none"}}

  <button type="submit">Reset password</button>
</form>

{{#link-to "login"}}&#8617;{{/link-to}}
